body {
   background: rgb(9, 36, 69);*/
  /* background-image: url("../assets/superlure.png");
   background-repeat: no-repeat;
   background-size: cover;*/
}

*{
    color: #ffffff;
}

#Update{
    display: none;
}